.movies__section {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 50;
  bottom: 150px;
  overflow: visible;
}

.movies__heading {
  font-weight: 700;
  color: var(--colors-grey);
  font-size: calc(1rem * 35 / 16);
}

.movies__wrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
  column-gap: 20px;
}
