:root {
  --colors-brown: #141414;
  --colors-black: black;
  --colors-white: white;
  --colors-grey: #c7c7c7;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Helvetica';
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  background-color: var(--colors-brown);
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
  border: none;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid white;
  outline-offset: 2px;
  box-shadow: 0 0 0 5px black;
}
