:root {
  --colors-brown: #141414;
  --colors-black: black;
  --colors-white: white;
  --colors-grey: #c7c7c7;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Helvetica';
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  /* Here we add another 100px to the full height since we only have 5 movies on this site, and hovering over them, they will have to scale and it is a bit tricky getting space beneath them, causing them to sit on the edge of the bottom. */
  height: calc(100% + 100px);
  overflow-y: scroll;
  background-color: var(--colors-brown);
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
  border: none;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid white;
  outline-offset: 2px;
  box-shadow: 0 0 0 5px black;
}
