---
import '@fontsource/montserrat'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:title" content="Kiba" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://user-images.githubusercontent.com/49603590/188285019-729bc257-d3d1-479d-a19f-8826470383cf.png"
    />
    <meta property="og:url" content="https://kiba-a3d.pages.dev/" />

    <meta
      property="og:description"
      content="A netflix clone with naruto movies."
    />
    <meta property="og:site_name" content="Kiba" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@TAbrodi" />
    <meta
      name="twitter:image"
      content="https://user-images.githubusercontent.com/49603590/188285019-729bc257-d3d1-479d-a19f-8826470383cf.png"
    />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/utils.css" />
    <title>Kiba</title>
  </head>
  <body>
    <slot />
  </body>
</html>
